* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  }
  
  a {
      text-decoration: none;
      color: inherit;
      margin: 2px;
  }
  
  /* NAVBAR */
  
  .navbar{
      background-color: #C083B9;
      width: 100%;
      height: 80px;
  }
  
  .navbar_logotipo {
      text-align: center;
      padding: 5px;
  }
  
  /* -------------------------------------------------------------------------------- */
  
  
  /* HEADER */
  
  .header{
      background-image: url("img/backgroud_header_pink.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 80vh;
      height: 500px;
      color: #ffffff;
  }
  
  .container_header{
      width: 100%;
      height: 100%;
      display: flex;
      padding: 0px;
  }
  
  
  .header_maravilhosa_img{
      width: 50%;
      height: auto;
      margin-left: 260px;
      margin-top: 12%;
  }
  
  .header_titulo{
      width: 50%;
      margin: 80px 0px 10px 70px ;
      font-size: 30px;
  }

  
  /* --- BOTAO --- */
    
  .header_button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 40px;
      background: #C083B9;
      border-radius: 5px;
      color: #ffffff;
      text-decoration: none;
      list-style: none;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin-top: 40px;
  }
  
  .header_button:hover {
      background-color: #ffffff;
      color: #EA4C89;
      transition: background-color .5s;
  }
  
  /* SECAO MARAVILHOSA */
   
  .maravilhosa{
    background-color: #FAD8E5;
  }

  
  .container_maravilhosa{
    background-color: #FAD8E5;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.maravilhosa_titulo{
    width: 100%;
    color: #EA4C89;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    height: 100px;
    line-height: 250px;
}

.maravilhosa_boxBorder{
    width: 600px;
    margin: 100px auto;
    border: 1px solid #674582; 
}

.boxBorder_texto{
    margin: 50px;
    text-align: center;
    font-size: 24px;

}

.suaHistoria_link{
    color: #EA4C89;
    text-decoration: underline;
    font-weight: 700;
 
}

.container_suaHistoria{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.suaHistoria_imagem{
    width: 60%;
    max-width: 100%;
    height: auto;
    padding: 50px 50px 50px 10px;
}

.suaHistoria_imagem img{
    width: 70%;
    height: auto; 
    margin: 0px 70px 0px 80px;
}


.suaHistoria_texto{
    width: 40%;
    color: #63458A;
    height: auto;
    padding: 70px 30px 70px 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}

h2{
    text-align: left;
    color: #63458A;
}
  
  /* SECAO RECADO */
  
  .container_recado{
      display: flex;
      align-items: center;
      padding: 20px 190px;
  }
  
  .recado_icon{
      width: 50%;
      max-width: 100%;
      height: auto;
  }
  
  .form__exemplo{
      display: flex;
      flex-direction: column;
      line-height: 30px;
  }
  
  #textoInput{
      width: 300px;
      padding: 5px;
      resize: none;
  }
  
  #nomeInput{
      width: 300px;
      padding: 5px;
  }
  
  .texto__button{
      background-color: #7F479B;
      color: #ffffff;
      border: 0;
      width: 30%;
      font-weight: bold;
      font-size: 16px;
      transition: 0.3s;
      cursor: pointer;
      margin-top: 21px;
      height: 40px;
  }
  
  .texto__button:hover{
      background-color: #462755;
      color: #ECDDF3;
      transition: 0,3s;
  }
  
  .nova__linha{
      color: rebeccapurple;
      border: 1px dashed rebeccapurple;
      width: 30%;
      margin-top: 30%;
      padding: 5px;
  }
  
  .novo__nome{
      font-weight: bold;
      font-size: 10px;
      font-style: italic;
  }
  
  .novo__texto{
      text-align: justify;
  }
  
  /* FOOTER */
  
  
  .footer {
    background-color: #ea4c89  
      
  }
  
  .footer__menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 10px 60px;
      font-size: 1.4rem;
      padding: 30px;
      color: #ffffff;
  }
  
  .footer__links {
      display: block;
      text-align: center;
      list-style: none;
  }
  
  .footer_cc {
      background: #5B5E5E;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
  }
  
  @media(max-width: 1240px){
    .header_maravilhosa_img{
        width: 90%;
        height: 380px;
        margin-left: 20px;
    }
     
}

@media(max-width: 760px){
    .container_header{
        flex-direction: column;
        
    }

    .header_titulo{
        width: 90%;
        margin: 5px 10px 5px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .maravilhosa{
        margin-top: 200px;
        height: 100%;
        padding-bottom: 25px;
    }

    .container_suaHistoria{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        
    }

    .suaHistoria_imagem{
        width: 90%;
        margin-bottom: 30px;
    }

    .container_recado{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .form__exemplo{
       margin-left: 10px;
       padding: 20px;
   }

    
    #textoInput{
        width: 80%;
        height: 100px;    
    }
    
    #nomeInput{
        width: 80%;
        height: 30px;
    }

    .texto__button{
        width: 30%;
    }
}

@media(max-width: 500px){
    .header_maravilhosa_img{
        height: 220px;        
    }

    .maravilhosa{
        margin-top: 100px;
        
    }
}