

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

/* NAVBAR */

.navbar{
    background-color: #C083B9;
    width: 100%;
    height: 80px;
}

.navbar_logotipo {
    text-align: center;
    padding: 5px;
}

/* -------------------------------------------------------------------------------- */


/* HEADER */

.header{
    background-image: url("./img/backgroud_header_pink\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    height: 500px;
    color: #ffffff;
    display:flex;
}
.header_titulo{
    width: 30%;
    margin: 50px 0px 10px 70px ;
    font-size: 30;
}

.container_header{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
}


.header_maravilhosa_img{
    width: 100%;
    height: 400px;
    margin-left: 40px;
    margin-top: 50px;
}

.header_video{
    width: 50px;
    height: 200px;
    position: flex-end;
   /* top: 22%;
    left: 48%;
    margin-left: 200px;
    margin-top: 50px;*/
}

/* --- BOTAO --- */
  
.header_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #C083B9;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    /* margin: 15px 0; */
    margin-top: 40px;
    font-weight: 700;
}

.header_button:hover {
    background-color: #ffffff;
    color: #EA4C89;
    transition: background-color .5s;
}

/* SECAO MARAVILHOSA */

.maravilhosa{
    width: 100%;
}

.container_maravilhosa{
    background-color: #FAD8E5;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.maravilhosa_titulo{
    text-align: center;
    color: #EA4C89;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 30px;
}

.maravilhosa_boxBorder{
    border: 1px solid #674582;
    margin: 42px;
}

.boxBorder_texto{
    margin: 30px;
    color: #462755;
    text-align: center;
    font-size: 20px;
}

.container_suaHistoria{
    background-color: #FAD8E5;
    justify-content: center;
    display: flex;
    padding: 10px;
    width:100%;
    height: auto;
    font-size: 20px;
}

.suaHistoria_imagem{
    width: 50%;
    max-width: 100%;
    height: auto;
}

 h2{
    text-align: left;
    color: #63458A;
    width: 50%;
    font-size: 35px;
    padding: 10px;
}

h5{
 width: 50%;
font-size: 20px; 
align-items: center;
text-align: left;
}

h6{
    text-align: left;
    color: #63458A;
    width: 50%;
    font-size: 20px;
}
.suaHistoria_texto{
    width: 50%;
    text-align: left;
    background-color: #FAD8E5;
    align-items: center;
    font-size: 1.1rem;
}

/* SECAO RECADO */

.container_recado{
    display: flex;
    width: 50%;
}

.icon{
    width: 50%;
    margin-top: 50px;
}

.form1{
    display: flex;
    flex-direction: column;
    width: 50%;
}

h3{
  font-size:30px;
}
.formulario{
  font-weight: bold;
  justify-content: center;
  ;
}

#nome{
    width: 50%;
    height: 100px;    
}

#mensagem{
    width: 50%;
    height: 30px;
}
.button{   
  display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #C083B9;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;}
    /* margin: 15px 0; */
  /*  background-color: #7F479B;
    color: #ffffff;
    border: 0;
    width: 10%;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 21px;
    height: 40px;}*/
    
    .texto__button:hover {
    background-color: #462755;
    color: #ECDDF3;
    transition: 0.3s;
}

.nova__linha{
    color: rebeccapurple;
    border: 1px dashed rebeccapurple;    
    margin-top: 30px;
    padding: 5px;
}

.novo__nome{
    font-weight: bold;
    font-size: 10PX;
    font-style: italic;
}

.novo__texto{
    text-align: justify;
}
/* FOOTER */

.footer{
  
background: #EA4C89;
color: #F3F3F3;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px 60px;
    font-size: 1.4rem;
    padding: 30px;
}

.footer__links {
    display: block;
    text-align: center;
    list-style: none;
}

.footer__facebook {
    display: flex;
}

.img-fb {
    width: 20px;
}

.footer_cc {
    background: #5B5E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.formulario{
  font-size: 20px;
}

h3{
  font-size: 30px;
}

@media(max-width:1100px){
    .header{
        height: 600px;
    }
    
    .header_video{                
        left: 65%;
        top: 55%;
    }

.header_titulo{
  font-size: 36px;
}
    .video{
        width: 480px;
        height: 280px;
    }
}

@media(max-width:850px){
    .header_video{
    top: 130%;
    left: 35%;
  }

  .header_titulo{
    width: 100%;      
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
   }
     
   .video{
       width: 600px;
    
   }
   
   h1{
     width: 100%;      
     font-size: 50px;
}
}

@media(max-width:630px){
    .header_titulo{
      font-size: 20px;
    }
    .footer {
        padding-top: 0;
    }

    .footer__menu {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
}

    .footer_cc{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        color: white;
    }
    
    .header_video{
    top: 130%;
    left: 50%;
  }

   .video{
       width: 430px;
   }
    
}

  