
* {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
  }
  
  a {
      text-decoration: none;
      color: inherit;
      margin: 2px;
  }
  
  /* NAVBAR */
  
  .navbar{
      background-color: #C083B9;
      width: 100%;
      height: 80px;
  }
  
  .navbar_logotipo {
      text-align: center;
      padding: 5px;
  }
  

   .header{
    background-image: url("imagens/backgroud_header_pink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 80vh;
    height: 500px;
    color: #ffffff;
    
}
.container_header{
    width: 100%;
    height: 500px;
    display: flex;
}
.header_titulo{
    width: 30%;
    margin: 80px 0px 10px 240px;
    font-size: xx-large;
}
.header_titulo > h1{
    margin-bottom: 21px;
}
.header_titulo > a{
    background-color: #C083B9;
    border-radius: 10px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.header_titulo > p{
    font-size: 30px;
    margin-bottom: 50px;
}
.header_video{

    width: 100%;
    margin-top: -220px;
    padding-left: 85px;
}
/* .header_video > img{
    border-radius: 10px;
    height: 440px;
    padding-left: 85px;

} */
.header_maravilhosa_img{

    width: 49%;
    height: 512px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 216px;
    margin-left: 340px;
}

  /* SECAO MARAVILHOSA */
  
  
  
  .container_maravilhosa{
      background-color: #FAD8E5;
      align-items: center;
      padding: 20px 190px ;
      text-align: center;
  }
  
  .maravilhosa_titulo{
      color: #EA4C89;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 40px;
  }
  
  .maravilhosa_boxBorder{
      width: 100%;
      border: 1px solid #674582; 
  }
  
  .boxBorder_texto{
      margin: 30px;
      color: #7F479B;
      font-size: 30px;
      margin-top: 25px;
  }
  
  .container_suaHistoria{
      display: flex;
      padding-top: 50px;
  }
  
  .suaHistoria_imagem{
      max-width: 100%;
      height: auto;
      width: 50%;
      padding-left: 0px;
      border-radius: 10px;
  }
  
  h2{
      text-align: left;
      color: #63458A;
  }
  
  .suaHistoria_texto{
      color: #63458A;
      height: 330.167px;
      width: 929.25px;
      margin-right: 200px;
      text-align: left;
      border:1px solid #674582;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px
}
.suaHistoria_texto > p{
    padding-top: 40px;
}
.autoria{
    text-align: right;
    font-weight: bold;

}
  
  /* SECAO RECADO */
  
  .container_recado{
      display: flex;
      align-items: center;
      padding: 20px 190px;
      padding-top: 20px;
      margin-top: 20px;
  }
  .img_recado{
      width: 250px;
      max-width: 100%;
      height: auto;
  }

.texto__button{
    background-color: #7F479B;
    color: #ffffff;
    border: 0;
    width: 30%;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 21px;
    height: 50px;
    border-radius: 10px;
}

.texto__button:hover{
    background-color: #462755;
    color: #ECDDF3;
    transition: 0,3s;
}

form{
      color: rebeccapurple;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      padding: 5px;
      padding-left: 5px;
      margin-left: 100px;
      margin-right: 24px;
      height: 288px;
      width: 480px;
}
.h1{
    padding-left: 100px;
    font-size: 30px;
    color: #EA4C89;
}
  .nome__input{
      margin-top: 15px;
      margin-bottom: 15px;
      width: 460px;
      height: 20px;
  }
  
  .text__input{
      text-align: justify;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 460px;
      height: 100px;
  }
  .texto__label{
    width: 470px;
    height: 20px;

  }
  
  .nova_linha{
    color: rebeccapurple;
    border: 1px dashed rebeccapurple;
    width: 30%;
    margin-top: 30%;
    padding: 5px;

}


.novo_nome{
    font-weight: bold;
    font-size: 10px;
    font-style: italic;

}

.novo_texto{
    text-align: justify;
}
  /* FOOTER */
  
  .footer {
      background: #EA4C89;
      color: #F3F3F3;
      
  }
  
  .footer__menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 10px 60px;
      font-size: 1.4rem;
      padding: 30px;
  }
  
  .footer__links {
      display: block;
      text-align: center;
      list-style: none;
  }
  
  .footer__facebook {
      display: flex;
  }
  
  .img-fb {
      width: 20px;
  }
  
  .footer_cc {
      background: #5B5E5E;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
  }
 @media(max-width: 1340px){
.header_video{
     height: 380px;
     margin-left: 20px;
    }
.header{
         height: 700px;
         

}
.header_maravilhosa_img{
         width: 90%;
         margin-left: 20px;
         margin-top: 212px;
         height: 550px;
}
.suaHistoria_texto{
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 985.25px;
    height: 404.167px;

}

}
@media(max-width: 1000px){
    .header_titulo{
        margin: 80px 0px 10px 50px;
    }
    .header_maravilhosa_img{
        width: 82%;
        height: 515px;
        margin-top: 221px;
}
.suaHistoria_texto{
    height: 606.167px;
}

     
}

@media(max-width: 760px){
.container_header{
    margin: 1px ;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.header{
    height: 100%;

}   
 .header_titulo{
    margin-left: 1px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_titulo > a{
    padding-left: 0px;
    padding-right: 0px;
} 
.header_video > img{
    height: 350px;
    margin-top: 291px;
    width: 60%;
    margin-left: 96px;
}
.suaHistoria_texto > p{
    width: 502.633px;
}
.suaHistoria_texto{
    margin-right: 0px;
    width: 497px;
    height: 250px;
    margin-right: -100px;
    padding-left: 14px;
    padding-right: 0px;
    margin-left: 120px;
}
.container_suaHistoria{
    width: 493px;
    margin-left: -129px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.container_header{
    flex-direction: column;
    
}
.maravilhosa{
    margin-top: 200px;
    height: 100%;
    padding-bottom: 25px;
}

.container_recado{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__exemplo{
   margin-left: 10px;
   padding: 20px;
}

#textoInput{
    width: 80%;
    height: 100px;    
}

#nomeInput{
    width: 80%;
    height: 30px;
}

.texto__button{
    width: 30%;
}
}
@media(max-width: 500px){
.container_header{
        margin: 1px ;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
.header{
        height: 100%;
    
    }   
.header_titulo{
    width: 50%;
    height: 373px;
    align-items: center;
    padding-left: 80px;
    margin-bottom: -50px;
}
.header_video{
    height: 250px;
    width: 100%;
}
.header_maravilhosa_img{
    padding-top: 0px;
    margin-top: 279px;
    border-radius: 10px; 
}
.header_titulo > a{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -133px; 
}
.maravilhosa_boxBorder{
    width: 196%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -61px;
}
.suaHistoria_imagem{
    width: 30%;
    padding-left: 112px;
}
.suaHistoria_texto{
    margin-right: 0px;
    width: 264.633px;
    font-size: 13px;
    width: 436.633px;
    margin-left: -113px;
}
.suaHistoria_texto > p{
    width: 436.633px;
}
.img_recado{
    width: 175px;
}
.h1{
    width: 500px;
    padding-left: 70px
}
form{
    margin-left: 50px;
    margin-right: 0px;
}
.h1_header{
    width: 279.4px;
    padding-right: 144px;
}
.header_titulo > p{
    width: 293.4px;
    padding-right: 120px;
}
.header_video > img{
    border-radius: 10px; 
    width: 174.5px;
    height: auto;
}
}
/* @media(max-width:1100px){
    .header{
        height: 600px;
    }
    
    .header_video{                
        left: 65%;
        top: 55%;
    }

    

    .video{
        width: 480px;
        height: 280px;
    }
}

@media(max-width:850px){
    .header_video{
    top: 130%;
    left: 35%;
  }

  .header_titulo{
    width: 80%;      
    text-align: center;
    justify-content: center;
    align-items: center;
   }
     
   .video{
       width: 600px;
    
   }
   
}

@media(max-width:630px){
    .header_video{
    top: 130%;
    left: 50%;
  }

   .video{
       width: 430px;
   }
   
} */
  
  