*{
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*NAVBAR*/

.navbar{
  background-color: #b86daf;
  width: 100%;
  height: 80%;
}

.navbar_logotipo{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*HEADER*/

header{
  background-image: url(./img/backgroud_header_pink.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 80vh;
  height: 500px;
  color: #ffffff;
}

.container_header{
  width: 100%;
  height: 500px;
  display: flex;
}

.header_titulo{
   width: 30%;
   margin: 20px;
   margin: 80px 0px 10px 70px;
}

.header_video{
 width: 500px;
 height: 300px;
 position: absolute;
 top: 42%;
 left: 58%;
 margin-left: -200px;
 margin-top: -100px;
}

.header_button{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 150px;
 height: 40px;
 background-color: #b86daf;
 border-radius: 5px;
 color: #ffffff;
 text-decoration: none;
 list-style: none;
 font-size: 18px;
 font-weight: bold;
 letter-spacing: 0.5px;
 margin: 15px 0;
}

.header_button:hover{
    background-color: #ffffff;
    color: #EA4C84;
    transition: background-color .5s;
}
/*AUTORA*/

.maravilhosa{
  background-color: #fad8e5;
  align-items: center;
  padding: 20px 190px;

}

.container_maravilhosa{
 text-align: center;
}

.maravilhosa_titulo{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.maravilhosa_boxborder{
    width: 100%;
    border: 1px solid #270613;
}

.bozborder_texto{
  margin: 30px;
}

.suahistoria_imagem{
   display: flex;
   margin-left: auto;
   margin-right: auto;
}

.container_suahistoria{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.suahistoria_texto{
   padding: 30px;
   color: #270613;

}

h2{
    text-align: left;
    color: #270613;
}

h3{
    text-align: left;
    color: #270613;
}



/*RECADO*/

.container_recado{
  display: flex;
  align-items: center;
  padding: 200px 190px;
}



.correio{
   width: 60%;
   max-width: 100%;
   height: auto;
}

.form__exemplo{
    display: flex;
    flex-direction: column;
}

#textoInput{
   width: 30%;
   height: 100%;
}

.button_texto_button{
   background-color: #270613;
   color: rgb(248, 248, 240);
   border: 0;
   width: 40%;
   font-weight: bold;
   font-size: 16px;
   transition: 0.3s;
   cursor: pointer;
   margin-top: 21px;
   height: 40px;
}

.texto_button:hover{
    background-color: black;
    color: cornsilk;
    transition: 00.3s;
}
#nomeInput{
   width: 30%;
   height: 30%;

}

.nova__linha{
    color: #b86daf;
    border: 1px dashed #b86daf;
    width: 30%;
    margin-top: 30%;
    padding: 5px;
}

.novo__nome{
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
}

.novo__texto{
    text-align: justify;
}




/*FOOTER*/



.footer__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px 60px;
    font-size: 1.4rem;
    padding: 30px;
    color: #EA4C84;
    background-color: #EA4C84;
}

.footer__links {
    display: block;
    text-align: center;
    list-style: none;
 
}

.footer__facebook {
    display: flex;
}

.img-fb {
    width: 20px;
}

.footer_cc {
    background: #5B5E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

